@{
    ViewData["Title"] = "~/Home/about.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<body class="sub_page">
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Hakkımızda
                            </h2>
                        </div>
                        <p>
                            EKM Lift, hidrolik lift sistemleri alanında uzun yıllara dayanan tecrübesiyle sektörde güvenilir bir isim haline gelmiştir. Kalite, yenilik ve müşteri memnuniyeti odaklı hizmet anlayışımızla, ihtiyaçlarınıza özel çözümler sunuyoruz. Geniş ürün yelpazemiz ve uzman ekibimizle, her projede üstün performans ve güvenliği bir araya getiriyoruz. EKM Lift olarak, modern teknolojilerle donatılmış, dayanıklı ve verimli hidrolik sistemlerle sizlere hizmet vermekten gurur duyuyoruz.
                        </p>

                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box"><br>
                        <img src="/images/about-img1.jpg" alt="">
                    </div>
                    <div><br /></div>
                </div>

            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- info section -->
   
</body>

</html>
