@{
    ViewData["Title"] = "~/Home/Index.cshtml";
}
<html>
<body>
    <p id="resultMessage"></p>
    <div class="text-center">
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-10 mx-auto">
                                    <div class="detail-box">
                                        <h1>
                                            EKM LIFT <br>
                                            HİDROLİK LİFT SİSTEMLERİ <br>
                                        </h1>
                                        <h4>
                                            <span style="color:white;">
                                                Miles Lift Yetkili Bayi
                                            </span>
                                        </h4>
                                        @* <div class="btn-box">
                                        <a href="~/Home/about.cshtml" class="btn1">
                                        Hakkımızda
                                        </a>
                                        <a href="~/Home/Index.cshtml" class="btn2">
                                        Ana Sayfa
                                        </a>
                                        </div> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-10 mx-auto">
                                    <div class="detail-box">
                                        <h1>
                                            EKM LIFT <br>
                                            HİDROLİK LİFT SİSTEMLERİ <br>
                                        </h1>
                                        <h4>
                                            <span style="color:white;">
                                                Miles Lift Yetkili Bayi
                                            </span>
                                        </h4>
                                        @*  <div class="btn-box">
                                        <a href="~/Home/about.cshtml" class="btn1">
                                        Hakkımızda
                                        </a>
                                        <a href="~/Home/Index.cshtml" class="btn2">
                                        Ana Sayfa
                                        </a>
                                        </div> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-10 mx-auto">
                                    <div class="detail-box">
                                        <h1>
                                            EKM LIFT <br>
                                            HİDROLİK LİFT SİSTEMLERİ <br>
                                        </h1>
                                        <h4>
                                            <span style="color:white;">
                                                Miles Lift Yetkili Bayi
                                            </span>
                                        </h4>
                                        @*  <div class="btn-box">
                                        <a href="~/Home/about.html" class="btn1">
                                        Hakkımızda
                                        </a>
                                        <a href="~/Home/Index.html" class="btn2">
                                        Ana Sayfa
                                        </a>
                                        </div> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>

        </section>
        <!-- end slider section -->
        <!-- service section -->

        <section class="service_section layout_padding">
            <div class="service_container">
                <div class="container ">
                    <div class="heading_container">
                        <h2>
                            Sevisler
                        </h2>
                        <p>
                            EKM Lift olarak, asansörlerin montaj, bakım, arıza giderme ve modernizasyon hizmetlerinde profesyonel çözümler sunuyoruz. Deneyimli ekibimiz, güvenlik ve kalite standartlarına uygun olarak hızlı ve etkili hizmet sağlamaktadır. Sizin için en iyi performansı ve güvenliği garanti ediyoruz.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/KamyonLifti.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Kamyonet ve Kolunlu Liftler
                                    </h5>
                                    <p>
                                        Hidrolik mekanizmasıyla çalışan EKM Lift ürünleri, ağır ve hacimli yüklerin güvenli bir şekilde taşınmasına olanak tanır. Ergonomik tasarımı ve dayanıklılığı sayesinde lojistik, dağıtım ve nakliye sektörlerinde geniş bir kullanım alanı bulur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/AgirVasıtaRotLifti.jpg" alt="">
                                    <img src="images/RotLift.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Rot ve Ağır Vasıta Lift
                                    </h5>
                                    <p>
                                        Rot liftler, araçların altına monte edilerek yüklerin hidrolik bir sistemle kaldırılıp indirilmesine olanak tanır. Ağır vasıta liftleri ise büyük ölçekli yükler için tasarlanmış olup, dayanıklı yapısıyla uzun süreli kullanım sunar.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/MotosikletLift.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Motosiklet Lift
                                    </h5>
                                    <p>
                                        EKM Lift, motosiklet bakım ve onarım süreçlerini daha kolay ve verimli hale getirmek için geliştirdiği motosiklet liftleri ile öne çıkar.Hidrolik veya manuel seçeneklere sahip olan bu liftler, motosikletin güvenli bir şekilde yükseltilmesini sağlar ve çalışma alanını optimize eder.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/MakaslıLift.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Makaslı Lift
                                    </h5>
                                    <p>
                                        EKM Lift, yükleme ve kaldırma işlemlerinde pratiklik sunan makaslı lift sistemleriyle sektörde fark yaratır.  Hidrolik mekanizmasıyla güvenli ve verimli bir şekilde çalışan bu liftler, ağır yüklerin kolayca kaldırılmasını sağlar. EKM Lift’in makaslı lift sistemleri, sağlam tasarımı ve yüksek performansıyla kullanıcıların ihtiyaçlarını karşılamak için üretilmiştir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end service section -->
        <!-- about section -->

        <section class="about_section">
            <div class="container  ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Hakkımızda
                                </h2>
                            </div>
                            <p>
                                EKM Lift, hidrolik lift sistemleri alanında uzun yıllara dayanan tecrübesiyle sektörde güvenilir bir isim haline gelmiştir. Kalite, yenilik ve müşteri memnuniyeti odaklı hizmet anlayışımızla, ihtiyaçlarınıza özel çözümler sunuyoruz. Geniş ürün yelpazemiz ve uzman ekibimizle, her projede üstün performans ve güvenliği bir araya getiriyoruz. EKM Lift olarak, modern teknolojilerle donatılmış, dayanıklı ve verimli hidrolik sistemlerle sizlere hizmet vermekten gurur duyuyoruz.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="img-box">
                            <img src="images/about-img1.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- end about section -->
        <!-- project section -->

        <section class="project_section layout_padding">
            <div class="container">
                <div class="heading_container">
                    <h2>
                        PROJELER
                    </h2>
                </div>
                <div class="carousel-wrap ">
                    <div class="filter_box">

                        <nav class="owl-filter-bar">
                            <a href="#" class="item active" data-owl-filter="">Tümü</a>
                            <a href="#" class="item" data-owl-filter=".KamyonetLifti">Kamyonet Lift</a>
                            <a href="#" class="item" data-owl-filter=".ikikolonlulift">2 Kolonlu Lift</a>
                            <a href="#" class="item" data-owl-filter=".DortKolunlu">4 Kolonlu Lift </a>
                            <a href="#" class="item" data-owl-filter=".RotLift">Rot Lift </a>
                            <a href="#" class="item" data-owl-filter=".AgirVasita">Ağır Vasıta Lift </a>
                            <a href="#" class="item" data-owl-filter=".MotosikletLift"> Motosiklet Lift</a>
                            <a href="#" class="item" data-owl-filter=".MakasliLift"> Makaslı Lift</a>
                        </nav>
                    </div>
                </div>
                <div class="owl-carousel project_carousel ">
                    <div class="item KamyonetLifti">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/KamyonetLiftPro.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Kamyonet Lifti
                                </h5>
                                <p>
                                    Kamyonet lifti, hidrolik sistemle çalışarak, yüklerin hızlı ve kontrollü bir şekilde taşınmasına yardımcı olur. Bu sayede iş gücü azalır ve taşıma işlemleri daha hızlı gerçekleştirilir. Hem küçük hem de büyük ölçekli işletmeler için ideal bir çözümdür.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item KamyonetLifti">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/KamyonetLiftPro2.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Kamyonet Lifti
                                </h5>
                                <p>
                                    Kamyonet lifti, hidrolik sistemle çalışarak, yüklerin hızlı ve kontrollü bir şekilde taşınmasına yardımcı olur. Bu sayede iş gücü azalır ve taşıma işlemleri daha hızlı gerçekleştirilir. Hem küçük hem de büyük ölçekli işletmeler için ideal bir çözümdür.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item ikikolonlulift">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/2KolonluLift1.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    2 Kolonlu Lift
                                </h5>
                                <p>
                                    EKM Lift Tam, araçların bakım ve onarım süreçlerini kolaylaştırmak için tasarlanmış, 2 kolonlu ve farklı kapasitelere sahip modeller sunar. Bu liftler, kullanıcı dostu tasarımı, yüksek güvenlik standartları ve uzun ömürlü yapıları ile öne çıkar. Ayrıca, bakım maliyetlerini düşürerek verimliliği artıran EKM Lift Tam, sektörün önde gelen tercihleri arasında yer almaktadır.
                                </p>
                            </div>
                        </div>
                    </div><div class="item ikikolonlulift">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/2KolonluLift2.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    2 Kolonlu Lift
                                </h5>
                                <p>
                                    EKM Lift Tam, araçların bakım ve onarım süreçlerini kolaylaştırmak için tasarlanmış, 2 kolonlu ve farklı kapasitelere sahip modeller sunar. Bu liftler, kullanıcı dostu tasarımı, yüksek güvenlik standartları ve uzun ömürlü yapıları ile öne çıkar. Ayrıca, bakım maliyetlerini düşürerek verimliliği artıran EKM Lift Tam, sektörün önde gelen tercihleri arasında yer almaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item DortKolunlu">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/DortKolonluLift1.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    4 Kolonlu Lift
                                </h5>
                                <p>
                                    4 kolonlu liftler, daha büyük ve ağır araçlar veya yükler için idealdir ve genellikle otomotiv servisleri, endüstriyel alanlarda  kullanılır. Bu liftler, yüksek taşıma kapasitesine sahip olup, araç bakım ve onarım işlemlerinde kullanıcılara yüksek verimlilik ve güvenlik sunar. Hem ağır yüklerin dengeli şekilde taşınmasını sağlar hem de işlemleri daha hızlı ve etkili bir şekilde gerçekleştirir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item RotLift">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/RotLift1.jpg" alt="" />

                            </div>
                            <div class="detail-box">
                                <h5>
                                    Rot Lift
                                </h5>
                                <p>
                                    Hidrolik sistemlerle çalışarak, araçları güvenli ve dengeli bir şekilde kaldırır. Genellikle otomotiv servislerinde tercih edilen rot liftler, araç altı bakımına kolay erişim sağlar ve verimli çalışma imkanı sunar. Dayanıklı yapısı ve güvenliği ile rot lift, ağır araçların güvenli şekilde kaldırılması için ideal bir çözümdür.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item AgirVasita">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/DortKolonluLift2.jpg" alt="" />

                            </div>
                            <div class="detail-box">
                                <h5>
                                    Ağıt Vasıta Lift
                                </h5>
                                <p>
                                    yüksek taşıma kapasitesine sahip güçlü hidrolik veya mekanik sistemlerle çalışır ve araçların güvenli bir şekilde yüksek noktalara kaldırılmasını sağlar. Ağır vasıta liftleri, büyük araçların altına rahatça erişim sağlayarak, bakım, onarım ve temizlik işlemlerini hızlandırır. Endüstriyel alanlar, otobüs garajları ve ağır taşımacılık servislerinde yaygın olarak kullanılır.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item MotosikletLift">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/MotosikletLift1.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Motosiklet Lift
                                </h5>
                                <p>
                                    Motosiklet lift, motosikletlerin bakım, onarım ve temizliği için kullanılan pratik bir kaldırma sistemidir. Bu liftler, motosikletin güvenli bir şekilde havaya kaldırılmasını sağlayarak, kullanıcıların araç altını kolayca incelemesine ve müdahale etmesine olanak tanır. Genellikle hidrolik sistemlerle çalışan motosiklet liftleri, dayanıklı yapıları sayesinde ağır motosikletlerin bile rahatlıkla kaldırılmasını sağlar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item MakasliLift">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/MakaslıLift1.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Makaslı Lift
                                </h5>
                                <p>
                                    makas şeklinde tasarlanmış güçlü çerçevelerle çalışır ve yükseldikçe daha fazla denge sağlar. Endüstriyel alanlarda, bakım hizmetlerinde tercih edilen makaslı liftler, operatörlerin güvenli bir şekilde yüksek noktalara ulaşmasını sağlar. Hem iç mekanlarda hem de dış mekanlarda kullanılabilir, hidrolik sistemler sayesinde hızlı ve kontrollü şekilde hareket eder.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- why us section -->

        <section class="why_us_section layout_padding">
            <div class="container">
                <div class="heading_container">
                    <h2>
                        Bizi Neden Seçmelisiniz??
                    </h2>
                </div>
                <div class="why_us_container">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/w4.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Zamanında Teslim Projeler
                            </h5>
                            <p>
                                EKM Lift, müşteri memnuniyetini öncelik alarak, projelerini daima zamanında ve eksiksiz teslim etme ilkesine bağlı kalır. Asansör ve kaldırma sistemleri alanındaki uzmanlığımızla, planlama aşamasından teslimata kadar tüm süreçlerde kalite ve güvenilirlik standartlarını titizlikle uygularız.

                                Projelerimizin zamanında teslim edilmesi, hem iş ortaklarımızın hem de müşterilerimizin operasyonel süreçlerini kesintisiz sürdürebilmesini sağlar.Tecrübeli ekibimizle, söz verdiğimiz tarihte sonuç odaklı çözümler sunarak sektörde fark yaratıyoruz.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/w2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Profesyonellik ve Sorumlulukta Lider
                            </h5>
                            <p>
                                EKM Lift, müşteri ihtiyaçlarına hızlı ve etkili çözümler sunmayı ilke edinmiştir. Profesyonel ekibimizle, her zaman ulaşılabilir ve hizmete hazır durumdayız. İster bakım ister montaj ya da teknik destek olsun, ihtiyacınız olan her an yanınızdayız.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/w3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Profesyonellik ve Sorumlulukta Lider
                            </h5>
                            <p>
                                EKM Lift, işini ciddiyetle yapan, alanında uzman bir ekiple çalışarak müşterilerine en yüksek kalitede hizmet sunar. Her projede profesyonellik, titizlik ve sorumluluk ilkeleriyle hareket eder, güvenilir çözümler üretir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end why us section -->
        <!-- contact section -->
        <section class="contact_section layout_padding">
            <div class="container-fluid">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="heading_container">
                        <h2>
                            Bize Ulaşın
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-5 offset-md-1">
                        <div class="form_container">
                            <form id="dataForm">
                                <div>
                                    <input type="text" id="adiniz" name="adiniz" placeholder="Adınız" required />
                                </div>
                                <div>
                                    <input type="text" id="telefon" name="telefon" placeholder="Telefon Numaranız" />
                                </div>
                                <div>
                                    <input type="email" id="mail" name="mail" placeholder="Mail" required />
                                </div>
                                <div>
                                    <input type="text" id="mesaj" name="mesaj" class="message-box" placeholder="Mesajınız" required />
                                </div>
                                <div class="btn_box">
                                    <button id="submitButton" type="submit">
                                        GÖNDER
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 px-0">
                        <div class="map_container">
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d12054.503611107495!2d29.279967105738233!3d40.94586541013615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x14cad09f01967a71%3A0xbde05c65e79d8c15!2sAk%C5%9Femsettin%2C%20G%C3%BClsan%2C%20Fatih%20Blv.%20No%3A578%2C%2034925%20Sultanbeyli%2F%C4%B0stanbul!3m2!1d40.9455233!2d29.2990554!5e0!3m2!1str!2str!4v1732190728108!5m2!1str!2str"
                                        width="99%"
                                        height="430"
                                        style="border:0;"
                                        allowfullscreen=""
                                        loading="lazy">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- end contact section -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Butona tıklama olayını dinle
            $("#submitButton").click(function (event) {
                // Formun varsayılan gönderimini engelle
                event.preventDefault();

                // Form verilerini oku
                const adiniz = $("#adiniz").val();
                const telefon = $("#telefon").val();
                const mail = $("#mail").val();
                const mesaj = $("#mesaj").val();
                const token = $("input[name='__RequestVerificationToken']").val(); // CSRF token'i al

                // AJAX isteği gönder
                $.ajax({
                    url: "/Home/SendEmail",
                    type: "POST",
                    contentType: "application/json",
                    headers: { "RequestVerificationToken": token }, // CSRF token'i ekle
                    // Gönderilen veriyi kontrol edin
                    data: JSON.stringify({
                        adiniz: adiniz,
                        telefon: telefon,
                        mail: mail,
                        mesaj: mesaj
                    }),
                    success: function (response) {
                        if (response.success) {
                            $("#resultMessage").text(response.message).css("color", "green");
                        } else {
                            $("#resultMessage").text(response.message).css("color", "red");
                        }
                    },

                    error: function (xhr, status, error) {
                        console.log(xhr.responseText "+" status "+" error); // Hata mesajını logla
                        $("#resultMessage").text("Bir hata oluştu.").css("color", "red");
                    }
                });
            });
        });
    </script>
</body>
</html>
