@{
    ViewData["Title"] = "~/Home/project.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body class="sub_page">
    <!-- project section -->

    <section class="project_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    PROJELER
                </h2>
            </div>
            <div class="carousel-wrap ">
                <div class="filter_box">

                    <nav class="owl-filter-bar">
                        <a href="#" class="item active" data-owl-filter="">Tümü</a>
                        <a href="#" class="item" data-owl-filter=".KamyonetLifti">Kamyonet Lift</a>
                        <a href="#" class="item" data-owl-filter=".ikikolonlulift">2 Kolonlu Lift</a>
                        <a href="#" class="item" data-owl-filter=".DortKolunlu">4 Kolonlu Lift </a>
                        <a href="#" class="item" data-owl-filter=".RotLift">Rot Lift </a>
                        <a href="#" class="item" data-owl-filter=".AgirVasita">Ağır Vasıta Lift </a>
                        <a href="#" class="item" data-owl-filter=".MotosikletLift"> Motosiklet Lift</a>
                        <a href="#" class="item" data-owl-filter=".MakasliLift"> Makaslı Lift</a>
                    </nav>
                </div>
            </div>
            <div class="owl-carousel project_carousel ">
                <div class="item KamyonetLifti">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/ekm-kamyonet-lift.jpg" alt="Kamyonet-Lift-Proje" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Kamyonet Lifti
                            </h5>
                            <p>
                                Kamyonet lifti, hidrolik sistemle çalışarak, yüklerin hızlı ve kontrollü bir şekilde taşınmasına yardımcı olur. Bu sayede iş gücü azalır ve taşıma işlemleri daha hızlı gerçekleştirilir. Hem küçük hem de büyük ölçekli işletmeler için ideal bir çözümdür.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item KamyonetLifti">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/ekm-kamyonet-lift2.jpg" alt="Kamyonet-Lift-Proje" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Kamyonet Lifti
                            </h5>
                            <p>
                                Kamyonet lifti, hidrolik sistemle çalışarak, yüklerin hızlı ve kontrollü bir şekilde taşınmasına yardımcı olur. Bu sayede iş gücü azalır ve taşıma işlemleri daha hızlı gerçekleştirilir. Hem küçük hem de büyük ölçekli işletmeler için ideal bir çözümdür.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item ikikolonlulift">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/2-Kolonlu-Lift1.jpg" alt="2-Kolonlu-Lift1" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                2 Kolonlu Lift
                            </h5>
                            <p>
                                EKM Lift Tam, araçların bakım ve onarım süreçlerini kolaylaştırmak için tasarlanmış, 2 kolonlu ve farklı kapasitelere sahip modeller sunar. Bu liftler, kullanıcı dostu tasarımı, yüksek güvenlik standartları ve uzun ömürlü yapıları ile öne çıkar. Ayrıca, bakım maliyetlerini düşürerek verimliliği artıran EKM Lift Tam, sektörün önde gelen tercihleri arasında yer almaktadır.
                            </p>
                        </div>
                    </div>
                </div><div class="item ikikolonlulift">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/2-Kolonlu-Lift2.jpg" alt="2-Kolonlu-Lift2" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                2 Kolonlu Lift
                            </h5>
                            <p>
                                EKM Lift Tam, araçların bakım ve onarım süreçlerini kolaylaştırmak için tasarlanmış, 2 kolonlu ve farklı kapasitelere sahip modeller sunar. Bu liftler, kullanıcı dostu tasarımı, yüksek güvenlik standartları ve uzun ömürlü yapıları ile öne çıkar. Ayrıca, bakım maliyetlerini düşürerek verimliliği artıran EKM Lift Tam, sektörün önde gelen tercihleri arasında yer almaktadır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item DortKolunlu">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Dort-Kolonlu-Lift1.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                4 Kolonlu Lift
                            </h5>
                            <p>
                                4 kolonlu liftler, daha büyük ve ağır araçlar veya yükler için idealdir ve genellikle otomotiv servisleri, endüstriyel alanlarda  kullanılır. Bu liftler, yüksek taşıma kapasitesine sahip olup, araç bakım ve onarım işlemlerinde kullanıcılara yüksek verimlilik ve güvenlik sunar. Hem ağır yüklerin dengeli şekilde taşınmasını sağlar hem de işlemleri daha hızlı ve etkili bir şekilde gerçekleştirir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item RotLift">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Rot-Lift1.jpg" alt="Rot-Lift" />

                        </div>
                        <div class="detail-box">
                            <h5>
                                Rot Lift
                            </h5>
                            <p>
                                Hidrolik sistemlerle çalışarak, araçları güvenli ve dengeli bir şekilde kaldırır. Genellikle otomotiv servislerinde tercih edilen rot liftler, araç altı bakımına kolay erişim sağlar ve verimli çalışma imkanı sunar. Dayanıklı yapısı ve güvenliği ile rot lift, ağır araçların güvenli şekilde kaldırılması için ideal bir çözümdür.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item AgirVasita">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/agir-vasita-lift.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Ağıt Vasıta Lift
                            </h5>
                            <p>
                                yüksek taşıma kapasitesine sahip güçlü hidrolik veya mekanik sistemlerle çalışır ve araçların güvenli bir şekilde yüksek noktalara kaldırılmasını sağlar. Ağır vasıta liftleri, büyük araçların altına rahatça erişim sağlayarak, bakım, onarım ve temizlik işlemlerini hızlandırır. Endüstriyel alanlar, otobüs garajları ve ağır taşımacılık servislerinde yaygın olarak kullanılır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item MotosikletLift">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Motosiklet-Lift1.jpg" alt="Motosiklet-Lift" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Motosiklet Lift
                            </h5>
                            <p>
                                Motosiklet lift, motosikletlerin bakım, onarım ve temizliği için kullanılan pratik bir kaldırma sistemidir. Bu liftler, motosikletin güvenli bir şekilde havaya kaldırılmasını sağlayarak, kullanıcıların araç altını kolayca incelemesine ve müdahale etmesine olanak tanır. Genellikle hidrolik sistemlerle çalışan motosiklet liftleri, dayanıklı yapıları sayesinde ağır motosikletlerin bile rahatlıkla kaldırılmasını sağlar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item MakasliLift">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Makaslı-Lift1.jpg" alt="Makaslı-Lift" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Makaslı Lift
                            </h5>
                            <p>
                                makas şeklinde tasarlanmış güçlü çerçevelerle çalışır ve yükseldikçe daha fazla denge sağlar. Endüstriyel alanlarda, bakım hizmetlerinde tercih edilen makaslı liftler, operatörlerin güvenli bir şekilde yüksek noktalara ulaşmasını sağlar. Hem iç mekanlarda hem de dış mekanlarda kullanılabilir, hidrolik sistemler sayesinde hızlı ve kontrollü şekilde hareket eder.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- end project section -->
    

</body>

</html>
