@{
    ViewData["Title"] = "Servisler | EKM Lift";
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<body class="sub_page">

    <!-- Service Section -->
    <section class="service_section1 layout_padding">
        <div class="service_container">
            <div class="container">
                <div class="heading_container">
                    <h2>Servisler</h2>
                    <p>
                        EKM Lift olarak, asansörlerin montaj, bakım, arıza giderme ve modernizasyon hizmetlerinde profesyonel çözümler sunuyoruz. Deneyimli ekibimiz, güvenlik ve kalite standartlarına uygun olarak hızlı ve etkili hizmet sağlamaktadır. Sizin için en iyi performansı ve güvenliği garanti ediyoruz.
                    </p>
                </div>
                <div class="row">
                    <!-- Kamyonet ve Kolunlu Liftler -->
                    <div class="col-md-6 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/KamyonLifti.jpg" alt="Kamyonet ve Kolunlu Liftler">
                            </div>
                            <div class="detail-box">
                                <h5>Kamyonet ve Kolunlu Liftler</h5>
                                <p>
                                    Hidrolik mekanizmasıyla çalışan EKM Lift ürünleri, ağır ve hacimli yüklerin güvenli bir şekilde taşınmasına olanak tanır.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Rot ve Ağır Vasıta Lift -->
                    <div class="col-md-6 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/AgirVasıtaRotLifti.jpg" alt="Rot ve Ağır Vasıta Lift">
                            </div>
                            <div class="detail-box">
                                <h5>Rot ve Ağır Vasıta Lift</h5>
                                <p>
                                    Rot liftler, araçların altına monte edilerek yüklerin hidrolik bir sistemle kaldırılıp indirilmesine olanak tanır.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Motosiklet Lift -->
                    <div class="col-md-6 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/MotosikletLift.jpg" alt="Motosiklet Lift">
                            </div>
                            <div class="detail-box">
                                <h5>Motosiklet Lift</h5>
                                <p>
                                    EKM Lift, motosiklet bakım ve onarım süreçlerini daha kolay ve verimli hale getirmek için geliştirdiği motosiklet liftleri ile öne çıkar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Makaslı Lift -->
                    <div class="col-md-6 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/MakaslıLift.jpg" alt="Makaslı Lift">
                            </div>
                            <div class="detail-box">
                                <h5>Makaslı Lift</h5>
                                <p>
                                    EKM Lift, yükleme ve kaldırma işlemlerinde pratiklik sunan makaslı lift sistemleriyle sektörde fark yaratır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Section -->

</body>

</html>
