@{
    ViewData["Title"] = "~/Home/service.cshtml";
}
<!DOCTYPE html>
<html>

<head>
 
</head>

<body class="sub_page">


    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container">
                    <h2>
                        Sevisler
                    </h2>
                    <p>
                        EKM Lift olarak, asansörlerin montaj, bakım, arıza giderme ve modernizasyon hizmetlerinde profesyonel çözümler sunuyoruz. Deneyimli ekibimiz, güvenlik ve kalite standartlarına uygun olarak hızlı ve etkili hizmet sağlamaktadır. Sizin için en iyi performansı ve güvenliği garanti ediyoruz.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/KamyonLifti.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Kamyonet ve Kolunlu Liftler
                                </h5>
                                <p>
                                    Hidrolik mekanizmasıyla çalışan EKM Lift ürünleri, ağır ve hacimli yüklerin güvenli bir şekilde taşınmasına olanak tanır. Ergonomik tasarımı ve dayanıklılığı sayesinde lojistik, dağıtım ve nakliye sektörlerinde geniş bir kullanım alanı bulur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/AgirVasıtaRotLifti.jpg" alt="">
                                <img src="images/RotLift.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Rot ve Ağır Vasıta Lift
                                </h5>
                                <p>
                                    Rot liftler, araçların altına monte edilerek yüklerin hidrolik bir sistemle kaldırılıp indirilmesine olanak tanır. Ağır vasıta liftleri ise büyük ölçekli yükler için tasarlanmış olup, dayanıklı yapısıyla uzun süreli kullanım sunar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/MotosikletLift.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Motosiklet Lift
                                </h5>
                                <p>
                                    EKM Lift, motosiklet bakım ve onarım süreçlerini daha kolay ve verimli hale getirmek için geliştirdiği motosiklet liftleri ile öne çıkar.Hidrolik veya manuel seçeneklere sahip olan bu liftler, motosikletin güvenli bir şekilde yükseltilmesini sağlar ve çalışma alanını optimize eder.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/MakaslıLift.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Makaslı Lift
                                </h5>
                                <p>
                                    EKM Lift, yükleme ve kaldırma işlemlerinde pratiklik sunan makaslı lift sistemleriyle sektörde fark yaratır.  Hidrolik mekanizmasıyla güvenli ve verimli bir şekilde çalışan bu liftler, ağır yüklerin kolayca kaldırılmasını sağlar. EKM Lift’in makaslı lift sistemleri, sağlam tasarımı ve yüksek performansıyla kullanıcıların ihtiyaçlarını karşılamak için üretilmiştir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->
    

</body>

</html>
